node_modules
dist
coverage
logs
.env
.env.local
.env.*.local
.git
.gitignore
.vscode
.idea
*.md
*.tsbuildinfo
.DS_Store
Thumbs.db
nginx
docs
certs
test
jest.config.js
jest.e2e.config.js
.prettierrc.js
.prettierignore
.editorconfig
.lintstagedrc
eslint.config.mjs
nodemon.json
tsconfig.test.json
